.GoodsBlock
{
  width:600px;
  padding: 5px;
  background-color: #d4f5eb;
}

.GoodsBlock .ShopName
{
  font-weight: bold;
  color:rgb(182, 64, 172);
  text-align: center;
  }

.GoodsBlock .TableGoods
{
  font-size: 12px;
  text-align: center;
   border-collapse: collapse; 
   padding-top: 5px;
   width: 100%;
   margin-bottom: 10px;
   
}
.GoodsBlock .TableGoods .TableHeader
{
  color: rgb(190, 48, 179);
}







