.MobileCompany
{
  max-width:900px;
  padding: 3px 7px;
  background-color: lightyellow;
}

.Table
{
  font-size: 14px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}
.Feature {
  background-color: cornflowerblue;
  font-size: 18px;
  border-bottom: 2px solid #130a44;
  border-top: 2px solid #130a44;
  padding: 10px;
}

.MobileCompanyName
{
  font-size: 18px;
  font-weight: bold;
  padding: 15px 5px 8px;
}

.MobileCompanyClients
{
  padding-top: 5px;
}
